body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

.container {
	height: calc(100vh - 84px);
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

/* Navigation */
.nav {
	display: flex;
	flex-wrap: wrap;
	padding: 0 !important;
}

.nav-menu {
	width: 48px;
}

.nav-name {
	width: calc(100% - 290px);
}

.nav-user {
	width: 242px;
	text-align: right;
}

.nav-user span {
	line-height: 40px;
}

.nav-avatar {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 500px) {
	.nav-name {
		width: calc(100% - 108px);
	}

	.nav-user {
		width: 60px;
	}

	.nav-user span {
		display: none;
	}
}

/* SignIn Component */
.sign-in {
	width: 90%;
	height: 100%;
	max-width: 500px;
	display: flex;
	align-items: center;
}

.sign-in-form {
	display: flex !important;
}

.select-user {
	margin: 30px 50px 0;
}

.sign-in-avatar-item {
	margin-right: 10px;
	width: 30px !important;
	height: 30px !important;
}

/* Question Component */
.questions-container {
	width: 90vw;
	max-width: 600px;
	margin-top: 20px;
}

.question-avatar {
	background-color: #f44336 !important;
}

.question-actions {
	float: right;
}

.question-form-control {
	margin-top: 15px;
}

.card-header-title span {
	font-size: 1.2rem;
}

.poll {
	margin-bottom: 20px;
}

/* General */
.text-center {
	text-align: center;
}