body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

.container {
	height: calc(100vh - 84px);
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.nav-avatar {
	margin-left: 400px;
}

/* SignIn Component */
.sign-in {
	width: 90%;
	height: 100%;
	max-width: 500px;
	display: flex;
	align-items: center;
}

.sign-in-form {
	display: flex !important;
}

.select-user {
	margin: 30px 50px 0;
}

.sign-in-avatar-item {
	margin-right: 10px;
	width: 30px !important;
	height: 30px !important;
}

/* Question Component */
.questions-container {
	width: 90vw;
	max-width: 600px;
	margin-top: 20px;
}

.question-avatar {
	background-color: #f44336 !important;
}

.question-actions {
	float: right;
}

.question-form-control {
	margin-top: 15px;
}

.card-header-title span {
	font-size: 1.2rem;
}

.poll {
	margin-bottom: 20px;
}

/* General */
.text-center {
	text-align: center;
}