body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

.container {
	height: calc(100vh - 84px);
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.tab-container {
	padding: 20px;
}

/* Navigation */
.nav {
	display: flex;
	flex-wrap: wrap;
	padding: 0 !important;
}

.nav-menu {
	width: 48px;
}

.nav-name {
	width: calc(100% - 290px);
}

.nav-user {
	width: 242px;
	text-align: right;
}

.nav-user span {
	line-height: 40px;
}

.nav-avatar {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

.menu-item a {
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	.nav-name {
		width: calc(100% - 108px);
	}

	.nav-user {
		width: 60px;
	}

	.nav-user span {
		display: none;
	}
}

/* SignIn Component */
.sign-in-page {
	width: 90%;
	height: 100%;
	max-width: 500px;
	display: flex;
	align-items: center;
}

.sign-in-form {
	display: flex !important;
}

.select-user {
	margin: 30px 50px 0;
}

.sign-in-avatar-item {
	margin-right: 10px;
	width: 30px !important;
	height: 30px !important;
}

/* Question Components */
.question-page, .new-question-page {
	width: 90vw;
	max-width: 500px;
}

.question-page > div, .new-question-page > div {
	width: 100%;
}

.questions-container {
	width: 90vw;
	max-width: 600px;
	margin-top: 20px;
}

.question {
	margin-bottom: 20px;
}

.question-actions {
	float: right;
}

.question-actions a {
	text-decoration: none;
}

.question-form-control {
	margin-top: 15px;
}

.card-header-title span {
	font-size: 1.2rem;
}

.answer-container {
	margin-top: 20px;
	padding: 10px;
}

.answer-results {
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
}

.answer-votes {
	width: 65%;
	height: 15px !important;
}

.answer-label {
	width: calc(35% - 8px);
	line-height: 15px !important;
	padding-left: 8px;
}

.new-question-form-control {
	width: 100%;
}

/* Leader Board */
.leaderboard-container {
	width: 90vw;
	max-width: 600px;
	margin-top: 20px;
}

.user-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	padding: 20px;
}

.user-container h4 {
	margin-top: 0;
	margin-bottom: 10px;
}

.user-avatar {
	display: flex;
	align-items: center;
	width: 80px;
}

.user-avatar > div {
	width: 60px;
	height: 60px;
}

.user-data {
	width: calc(100% - 172px);
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding-left: 10px;
}

.user-data > p {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 0.85rem;
}

.user-data span {
	font-weight: bold;
}

.user-badge {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background-color: #f50057;
	border-radius: 15px;
	line-height: 30px;
	font-size: 0.8rem;
	color: #fff;
}

.user-score {
	width: 60px;
	text-align: center;
	padding-left: 20px;
}

@media screen and (max-width: 500px) {
	.user-container {
		padding: 10px;
	}

	.user-container h4 {
		font-size: 0.85rem;
	}

	.user-avatar {
		width: 50px;
	}

	.user-avatar > div {

		width: 40px;
		height: 40px;
	}

	.user-data {
		width: calc(100% - 142px);
	}

	.user-data > p {
		font-size: 0.75rem;
	}

	.user-badge {
		font-size: 0.75rem;
	}
}

/* General */
.text-center {
	text-align: center;
}